.select span.main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
}

.items {
    display: block;
    position: absolute;
    padding: 5px;
    border: 1px solid black
}

.select .active {
    display: block;
}

.item.selected {
    background-color: #aaaaec;
    color: white;
}